
<!----- INCLUDE HEADER- ----->
<%- include('include/_header') %>
<!---- //INCLUDE HEADER ----->

    <!----- MAIN SITE ----->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <div class="form-title text-center">
                        <h2 class="text-dark">Already Have acount?</h2>
                        <span class="text-light">Use the form below to Login</span>
                    </div>
                </div>
            </div>
            <div class="response-message">

            <!---- ADD USER FORM ----->
            <%- include('include/_login') %>
            
        </div>
        </div>
    </main>
    <!---- //MAIN SITE ---->
    
<!----- INCLUDE FOOTER- ----->
<%- include('include/_footer') %>
<!---- //INCLUDE FOOTER ----->