<!------ FORM HANDLING ------>
<form method="post" id="data_user">
  <div class="new_user">
    <div class="form-group">
        <a href="/boundaries-user">
            <span class="text-gradient">BOUNDARIES</span>
        </a>
    </div>

    <div class="form-group">
        <a href="/membership-user">
            <span class="text-gradient">MEMBERSHIP FEES</span>
        </a>
    </div>

    <div class="form-group">
        <a href="/terminal-user">
            <span class="text-gradient">TERMINAL FEES</span>
        </a>
    </div>

    <div class="form-group">
        <a href="/">
            <span class="text-gradient">LOG OUT</span>
        </a>
    </div>


      <!-- <div class="form-group">
          <a href="/">
              <span class="text-gradient">LOGOUT</span>
          </a> -->
      </div>
  </div>
</form>
<!------ FORM HANDLING ------>

<style>
  .new_user .form-group input {
      width: calc(100% - 2em); /* Adjust the input box size as needed */
      padding: 0.6em 1em;
      margin: 0.5em 0;
      border: 1px solid var(--border);
      font-family: 'Rowdies', sans-serif;
      font-size: 1em;
      border-radius: 0.3em;
  }

.btn-green {
    background-color: #06d6a0;
    color: #fff;
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Rowdies', sans-serif;
    font-size: 1em;
    border-radius: .3em;
    cursor: pointer;
}

.text-gradient {
    display: block;
    background: #06d6a0;
    padding: 0.7em 2em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    font-family: 'Rowdies', sans-serif;
    font-size: 1em;
    border-radius: 0.3em;
    text-align: center;
    width: 100%; /* Make the links take the full width */
}

.text-gradient:hover {
    background-color: var(--dark);
    color: var(--border);
}
</style>
